header{
    background-color: var(--main-color);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
}
.logo{
    width: 200px;
}
.main-menu{
    display: flex;
    gap: 15px;
}
.main-menu li a{
    color: var(--baby-yellow);
}
.main-menu li a:hover{
    color: var(--terciary-color);
}
