/*quienes somos*/
.quienes-somos{
    display: flex;
    flex-direction: column;
}
.img-fluid{
    width: 100%;
    height: auto;
}
.padding-50x{
    padding: 20px 30px;
}
.padding-80x{
    padding: 80px 30px;
}
h2{
    font-size: 2.5rem;
}
.main-color{
    color:var(--main-color) 
}
.p{
    font-size: 1rem;
    font-weight: 400;
}
.btn-main-color{
    width: 60%;
    background-color:var(--main-color);
    color: var(--baby-yellow);
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 20px;
}
.btn-main-color:hover{
    background-color: var(--main-color);
    color: var(--baby-yellow);
}